@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
	color: white
	;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: #252A34;
}
nav{
	position: fixed;
	top: -270px;
	left: 0;
	margin: 270px auto 0;
	width: 100%;
	height: 50px;
	background: #34495e;
	border-radius: 0px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
	display: flex;
	justify-content: center;
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 473px;
}
nav a:nth-child(2){
	width: 110px;
}
nav a:nth-child(2):hover~.animation{
	width: 110px;
	left: 573px;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
	width: 100px;
	left: 682px;
}
nav a:nth-child(4){
	width: 160px;
}
nav a:nth-child(4):hover~.animation{
	width: 160px;
	left: 782px;
}
nav a:nth-child(5){
	width: 120px;
}
nav a:nth-child(5):hover~.animation{
	width: 120px;
	left: 943px;
}



.typed-js {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.type {
	font-size: 45px;
}

.auto-type {
	color: #FF2E63;
}

.name {
	font-size: 60px;
}











/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 60px 0;
	overflow: hidden;
  }
  
  .section-title {
	text-align: center;
	padding-bottom: 30px;
  }
  
  .section-title h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #45505b;
  }
  
  .section-title h2::before {
	content: "";
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 60px);
  }
  
  .section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #0563bb;
	bottom: 0;
	left: calc(50% - 20px);
  }
  
  .section-title p {
	margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about .content h3 {
	font-weight: 700;
	font-size: 26px;
	color: #728394;
  }
  
  .about .content ul {
	list-style: none;
	padding: 0;
  }
  
  .about .content ul li {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
  }
  
  .about .content ul strong {
	margin-right: 10px;
  }
  
  .about .content ul i {
	font-size: 16px;
	margin-right: 5px;
	color: #0563bb;
	line-height: 0;
  }
  
  .about .content p:last-child {
	margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # Facts
  --------------------------------------------------------------*/
  .facts .count-box {
	padding: 30px 30px 25px 30px;
	margin-top: 30px;
	width: 100%;
	position: relative;
	text-align: center;
	background: #fff;
  }
  
  .facts .count-box i {
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 24px;
	background: #0563bb;
	color: #fff;
	border-radius: 50px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
  }
  
  .facts .count-box span {
	font-size: 36px;
	display: block;
	font-weight: 600;
	color: #011426;
  }
  
  .facts .count-box p {
	padding: 0;
	margin: 0;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
  }
  
  /*--------------------------------------------------------------
  # Skills
  --------------------------------------------------------------*/
  .skills .progress {
	height: 60px;
	display: block;
	background: none;
	border-radius: 0;
  }
  
  .skills .progress .skill {
	padding: 10px 0;
	margin: 0;
	text-transform: uppercase;
	display: block;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	color: #45505b;
  }
  
  .skills .progress .skill .val {
	float: right;
	font-style: normal;
  }
  
  .skills .progress-bar-wrap {
	background: #f2f3f5;
  }
  
  .skills .progress-bar {
	width: 1px;
	height: 10px;
	transition: 0.9s;
	background-color: #0563bb;
  }
  
  /*--------------------------------------------------------------
  # Resume
  --------------------------------------------------------------*/
  .resume .resume-title {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #45505b;
  }
  
  .resume .resume-item {
	padding: 0 0 20px 20px;
	margin-top: -2px;
	border-left: 2px solid #0563bb;
	position: relative;
  }
  
  .resume .resume-item h4 {
	line-height: 18px;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	color: #0563bb;
	margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
	font-size: 16px;
	background: #f7f8f9;
	padding: 5px 15px;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
	padding-left: 20px;
  }
  
  .resume .resume-item ul li {
	padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
	padding-bottom: 0;
  }
  
  .resume .resume-item::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -9px;
	top: 0;
	background: #fff;
	border: 2px solid #0563bb;
  }
  