@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
	color: white
	;
}
html {
	scroll-behavior: smooth;
  }
body {
	font-family: 'Open Sans', sans-serif;
	background: #252A34;
}
nav{
	position: fixed;
	top: -270px;
	left: 0;
	margin: 270px auto 0;
	width: 100%;
	height: 50px;
	background: #34495e;
	border-radius: 0px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
	display: flex;
	justify-content: center;
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #00ADB5;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 32.45%;
}
nav a:nth-child(2){
	width: 110px;
}
nav a:nth-child(2):hover~.animation{
	width: 110px;
	left: 38.9%;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
	width: 100px;
	left: 46.1%;
}
nav a:nth-child(4){
	width: 110px;
}
nav a:nth-child(4):hover~.animation{
	width: 110px;
	left: 52.55%;
}
nav a:nth-child(5){
	width: 120px;
}
nav a:nth-child(5):hover~.animation{
	width: 120px;
	left: 59.67%;
}



.typed-js {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.type {
	font-size: 45px;
}

.auto-type {
	color: #FF2E63;
}

.name {
	font-size: 60px;
}










/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: "Open Sans", sans-serif;
	color: #272829;
  }
  
  a {
	color: #00ADB5;
	text-decoration: none;
  }
  
  a:hover {
	color: black;
	text-decoration: none;
  }
  
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 60px 0;
	overflow: hidden;
  }
  
  .section-title {
	text-align: center;
	padding-bottom: 30px;
  }
  
  .section-title h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #45505b;
  }
  
  .section-title h2::before {
	content: "";
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 60px);
  }
  
  .section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #00ADB5;
	bottom: 0;
	left: calc(50% - 20px);
  }
  
  .section-title p {
	margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about .content h3 {
	font-weight: 700;
	font-size: 26px;
	color: #728394;
  }
  
  .about .content ul {
	list-style: none;
	padding: 0;
  }
  
  .about .content ul li {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
  }
  
  .about .content ul strong {
	margin-right: 10px;
  }
  
  .about .content ul i {
	font-size: 16px;
	margin-right: 5px;
	color: #00ADB5;
	line-height: 0;
  }
  
  .about .content p:last-child {
	margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # Facts
  --------------------------------------------------------------*/
  .facts .count-box {
	padding: 30px 30px 25px 30px;
	margin-top: 30px;
	width: 100%;
	position: relative;
	text-align: center;
	background: #fff;
  }
  
  .facts .count-box i {
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 24px;
	background: #00ADB5;
	color: #fff;
	border-radius: 50px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
  }
  
  .facts .count-box span {
	font-size: 36px;
	display: block;
	font-weight: 600;
	color: #011426;
  }
  
  .facts .count-box p {
	padding: 0;
	margin: 0;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
  }
  
  /*--------------------------------------------------------------
  # Skills
  --------------------------------------------------------------*/
  .skills .progress {
	height: 60px;
	display: block;
	background: none;
	border-radius: 0;
  }
  
  .skills .progress .skill {
	padding: 10px 0;
	margin: 0;
	text-transform: uppercase;
	display: block;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	color: #45505b;
  }
  
  .skills .progress .skill .val {
	float: right;
	font-style: normal;
  }
  
  .skills .progress-bar-wrap {
	background: #f2f3f5;
  }
  
  .skills .progress-bar {
	width: 1px;
	height: 10px;
	transition: 0.9s;
	background-color: #00ADB5;
  }
  
  /*--------------------------------------------------------------
  # Resume
  --------------------------------------------------------------*/
  .resume .resume-title {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #45505b;
  }
  
  .resume .resume-item {
	padding: 0 0 20px 20px;
	margin-top: -2px;
	border-left: 2px solid #00ADB5;
	position: relative;
  }
  
  .resume .resume-item h4 {
	line-height: 18px;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	color: #00ADB5;
	margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
	font-size: 16px;
	background: #f7f8f9;
	padding: 5px 15px;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
	padding-left: 20px;
  }
  
  .resume .resume-item ul li {
	padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
	padding-bottom: 0;
  }
  
  .resume .resume-item::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -9px;
	top: 0;
	background: #fff;
	border: 2px solid #00ADB5;
  }



 
 
 
 

.Mycontain{
    position: relative;
    width: 100%;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}
.Mycontain .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 95%;
    border-radius: 6px;
    background: #00ADB5;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skill-per.c{
    width: 95%;
    animation-delay: 0.3s;
}
.skill-per.css{
    width: 90%;
    animation-delay: 0.6s;
}
.skill-per.java{
    width: 70%;
    animation-delay: 0.9s;
}
.skill-per.javascript{
    width: 50%;
    animation-delay: 1.2s;
}
.skill-per.php{
    width: 15%;
    animation-delay: 1.5s;
}
.skill-per.kotlin{
    width: 15%;
    animation-delay: 1.8s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #00ADB5;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #00ADB5;
    transform: translateX(-50%) rotate(45deg);

}





.copyfield{
    display: contents;
    background-color: #212121;
    border-radius: 5px;
	width: 22%;
	
}

#link{
    width: 240px;
    padding: 5px 5px;
    border: 1px solid #212121;
    background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
    overflow-x: scroll;
}
#link::-webkit-scrollbar{
    display: none;
}

#copy-btn{
    color: #fff;
    padding: 0 20px;
    font-size: 18px;
    cursor: pointer;
	background: black;
}

.resumedown {
	text-align: center;
	margin-bottom: 65px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
	text-align: center;
	color: #fff;
	padding: 25px 0;
	background: #00ADB5;
}
  
  footer .copyright {
	margin-bottom: 0.3rem;
}
  
  footer .credits {
	margin-bottom: 0;
}
  
  footer .credits a {
	color: #fff;
}
  
  .loader {
	width: 8vmax;
	height: 8vmax;
	position: absolute;
	top: 50%;
	left: 50%;
	border-right: 4px solid #ffffff;
	border-radius: 100%;
	animation: spinRight 800ms linear infinite;
	
	&:before, &:after {
	  content: '';
	  width: 6vmax;
	  height: 6vmax;
	  display: block;
	  position: absolute;
	  top: calc(50% - 3vmax);
	  left: calc(50% - 3vmax);
	  border-left: 3px solid #ffffff;
	  border-radius: 100%;
	  animation: spinLeft 800ms linear infinite;
	}
	
	&:after {
	  width: 4vmax;
	  height: 4vmax;
	  top: calc(50% - 2vmax);
	  left: calc(50% - 2vmax);
	  border: 0;
	  border-right: 2px solid #ffffff;
	  animation: none;
	}
  }
  
  @keyframes spinLeft {
	from {transform:rotate(0deg);}
	to {transform:rotate(720deg);}
  }
  
  @keyframes spinRight {
	from {transform:rotate(360deg);}
	to {transform:rotate(0deg);}
  }


@media only screen and (min-width: 760px) {
	  .top {
		--offset: 50px; 
	  
		position: sticky;
		bottom: 20px;
		left: 97%;      
		margin-right: 10px; 
		place-self: end;
		margin-top: calc(100vh + var(--offset));
	  
		text-decoration: none;
		padding: 10px;
		font-family: sans-serif;
		color: #fff;
		background: #000;
		border-radius: 100px;
		white-space: nowrap;
	  }
}
@media only screen and (max-width: 759px) {
	.top {
		display: none;
	}
}

@media only screen and (max-width: 1080px) {
	nav .start-home, a:nth-child(1):hover~.animation{
		left: 24.9%;
	}
	nav a:nth-child(2){
		width: 110px;
	}
	nav a:nth-child(2):hover~.animation{
		left: 34.2%;
	}
	nav a:nth-child(3){
		width: 100px;
	}
	nav a:nth-child(3):hover~.animation{
		left: 44.4%;
	}
	nav a:nth-child(4):hover~.animation{
		left: 53.6%;
	}

	nav a:nth-child(5):hover~.animation{
		left: 63.75%;
	}
  }

  @media only screen and (max-width: 438px) {
	nav .start-home, a:nth-child(1):hover~.animation{
		left: 0%;
		width: 18.35%;
	}
	nav a:nth-child(2){
		width: 110px;
	}
	nav a:nth-child(2):hover~.animation{
		left: 19%;
		width: 20%;
	}
	nav a:nth-child(3){
		width: 100px;
	}
	nav a:nth-child(3):hover~.animation{
		left: 39%;
		width: 18.8%;
	}
	nav a:nth-child(4):hover~.animation{
		left: 57.2%;
		width: 20.5%;
	}
	nav a:nth-child(5):hover~.animation{
		left: 78.4%;
		width: 21.4%;
	}
  }
  @media only screen and (max-width: 433px) {
	.Mycontain {
		margin-left: -20px;
	}
	#copy-btn{
		position: relative;
		left: 78px;
		top: 5px;
	}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.age {
	margin-top: -13px;
}
  }